@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  /* overflow: hidden; */
}

.brand-Navbar {
  width: 1200px;
  margin: auto;
  margin-top: 51px;
  margin-bottom: 45px;

  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.links-navbar {
  width: 624px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  gap: 31px;
  color: #292f36;
  text-decoration: none;
}
.magnifying-icon {
  height: 21px;
  width: 21px;
  display: flex;
}
.links-navbar a {
  color: black;
}
.fill a,
.stroke a {
  position: relative;
}

.stroke a:after,
.stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #000000;
  height: 1px;
}

.stroke a:hover:after {
  width: 100%;
}

.stroke a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.stroke a:hover {
  color: #000000;
  z-index: 1;
}
.stroke a:hover:after {
  z-index: -10;
  animation: fill 2s forwards;

  opacity: 1;
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;

    background: #333;
  }
}
.logo {
  float: left;
  display: flex;
  width: 250px;
  height: auto;
}

.brand-icon {
  width: 177px;
  height: 50px;
  justify-content: space-between;
}

.menu-click {
  display: flex;
  align-items: center;
  display: none;
}

.mobile-navbar {
  display: none;
}
.mobile-dropdown {
  display: none;
}

li a {
  font-size: 30px;
  display: flex;
  text-decoration: none;
  color: black;
  padding-right: 48px;
}

ul {
  font-size: 22px;
}
.wrapper {
  display: flex;
  position: relative;

  justify-content: center;
}
.background-banner {
  background-image: url("../images/contactUs-banner.jpg");
  background-size: cover;
  width: 100%;
  height: 356px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.quote-border {
  position: absolute;
  top: 332px;
  z-index: 1;
  height: 450px;
  width: 900px;
  border-radius: 70px;
  margin: auto;
  border: 25px solid #f4f0ec;
  padding: 8%;
}
.quote-text {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  /* or 75px */

  text-align: center;
  letter-spacing: 0.01em;

  color: #292f36;
}

.quote-text-div {
  position: absolute;

  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 255, 255);
  width: 751px;
  margin-top: 536px;
  z-index: 9;
  margin-bottom: 5px;
}
.aboutUs-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 37px 37px 0 0;
  padding-top: 40px;
  margin-top: 178px;
  width: 500px;
  position: absolute;
  z-index: 6;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(255, 255, 255);
  height: 178px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  color: #292f36;
}
.double-quote {
  position: absolute;
  font-family: "DM Serif Display";
  font-size: 65px;
  rotate: 180deg;
  margin-top: 135px;
}

.Home-about-us {
  position: absolute;
  font-family: "Jost";
  font-size: 20px;
  margin-top: 45px;
}
.quote-text-author {
  margin-top: 24px;
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.what-we-do-section {
  display: flex;
  flex-direction: row;
  margin-top: 850px;
  margin-left: 20%;
  margin-right: 20%;
  gap: 40px;
}

.what-we-do-section2 {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 20%;
  margin-right: 20%;
  gap: 40px;
}

.section1-heading {
  padding-top: 5px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #292f36;
}

.section1-description {
  text-align: left;
  width: 100%;
  padding-top: 40px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.whatWeDoImage {
  height: 370px;
  width: 630px;
  border-radius: 62px;
}

.ourConcept-btn {
  background-color: #292f36;
  color: white;
  margin-top: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  border-radius: 12px;
  padding: 24px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}
.sendNow-btn {
  width: 220px;
  background-color: #292f36;
  color: white;
  margin-top: 130px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  border-radius: 18px;
  padding: 24px 50px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

.people-opinion {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  background-color: #f4f0ec;
}

.opinion-header {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 150px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292f36;
}

.opinion-wrapper {
  padding-top: 50px;
  padding-bottom: 120px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  margin-left: 20%;
  margin-right: 20%;
  gap: 15px;
}

.image-people {
  height: 290px;
  width: auto;
  border-radius: 40px;
}
.description-wrapper {
  width: 349px;
  /* max-wi   min-width: 15em;dth: 5em; */
  padding-top: 76px;
  padding-bottom: 76px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #f4f0ec;
  border-radius: 50px;
}
.description-wrapper-heading {
  padding-top: 20px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 38px */

  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #292f36;
}

.description-wrapper-description {
  padding-top: 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
}

.description-icon {
  width: 4em;

  padding-right: 1em;
}

.social-wrapper {
  padding-top: 47px;
  gap: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
}
.contact-wrapper {
  padding-top: 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.contactUs-form {
  display: flex;
  gap: 2em;
  width: 1201px;
  margin: auto;
  margin-top: 816px;
}
.heading-form {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  margin-left: 10%;
  margin-right: 10%;

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #292f36;
}

/* Input container */
.input-container {
  width: 100%;

  display: flex;
  gap: 39px;
  justify-content: space-between;
}

/* Input field */
.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #4d5053;
  outline: none;
  background-color: transparent;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.input-field2 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #4d5053;
  outline: none;
  background-color: transparent;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
.all-inputs {
  display: flex;
  flex-direction: column;
  width: 797px;
}
.input-field-textArea {
  margin-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #4d5053;
  outline: none;
  background-color: transparent;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.btn-div {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.ft-container {
  margin: auto;
  width: 1199px;

  padding-bottom: 134px;
}
.ft-main {
  margin-top: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 101px;
  justify-content: space-between;
}

.ft-logo {
  width: 220px !important;
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
}
.company-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sub-links a {
  padding-top: 30px;
  font-size: 18px;
  color: #292f36;
}
.company-description {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  color: #4d5053;
  font-family: "Jost";
}

.ft-main-item h2 {
  color: #292f36;
}
.sub-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  font-weight: 400;
  color: #292f36;
  font-family: "Jost";
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 55px;
  width: 70%;
  padding-top: 25px;
}

.social-icon {
  width: 100%;
}
.ft-company-logo {
  width: 200px;
}

.ft-copyright {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  justify-content: center;
  color: #4d5053;
  margin-bottom: 38px;
}
.read_more a {
  color: #292f36;
}
.mobile-footer {
  display: flex;
  justify-content: center;
  gap: 101px;
  flex: auto;
}

.map-frame {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.footer-heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  padding-bottom: 9px;
  /* or 31px */

  display: flex;
  align-items: center;

  color: #292f36;
}
iframe {
  border-radius: 42px;
  width: 1200px;
  height: 501px;
  margin: auto;
}
.company-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 393px;
  flex-shrink: 0;
}
@media screen and (max-width: 1386px) {
  .footer-heading {
    display: flex;
    justify-content: center;
  }
  .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding-top: 3em;
  }
  .contactUs-form {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
    width: 100%;
    margin-top: 53em;
  }
  .input-field2 {
    width: 60%;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .input-field {
    width: 60%;
  }

  .all-inputs {
    width: 100%;
    gap: 2em;
  }
  .aboutUs-wrapper {
    width: 300px;
    max-width: 300px;
    font-size: 30px;
    padding-bottom: 20em;
    margin-top: 165px;
  }

  .input-field-textArea {
    justify-content: center;
    justify-items: center;
    width: 60%;
    margin-top: 2em;
  }
  .txtarea-div {
    display: flex;
    justify-content: center;
  }
  .double-quote {
    margin-top: 166px;
  }
  .quote-text {
    position: relative;
    font-family: "DM Serif Display";
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    /* line-height: 125%; */
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #292f36;
  }

  .quote-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
    min-width: 60%;
    padding-top: 60px;
    margin-top: 436px;
  }
  .mobile-dropdown {
    display: none;
  }

  .what-we-do-section {
    flex-direction: column-reverse;
    margin-left: 2%;
    margin-right: 2%;
  }

  .what-we-do-section2 {
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
  }

  .quote-text-author {
    margin-top: 50px;
    font-size: 18px;
  }

  .whatWeDoImage {
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 22px;
    height: 210px;
    width: 100%;
  }
  .section1-heading {
    justify-content: center;
    font-size: 38px;
  }

  .section1-description {
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }

  .ft-container {
    width: 100% !important;
    display: flex;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .company-details {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .heading-form {
    font-size: 22px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .opinion-header {
    font-size: 28px;
  }
  h1 {
    font-size: 26px;
  }

  .quote-border {
    display: none;
  }
  .opinion-wrapper {
    padding-left: 2%;
    padding-right: 2%;
    grid-template-columns: auto auto;
  }

  .background-banner {
    width: 100%;
    height: 200px;
  }
  .image-people {
    height: 200px;
    width: auto;
  }

  .description-wrapper {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
  }
  .brand-Navbar {
    display: none;
  }
  .mobile-navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .mobile-links-navbar {
    display: flex;
    align-items: center;
  }

  .description-wrapper-description {
    font-size: 18px;
  }
  .mobile-brand-icon {
    width: 140px;
    height: auto;
  }
  .menu-click {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .menu-click-icon {
    width: 40px;
    height: auto;
  }

  .mobile-dropdown {
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 15;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .mobile-dropdown a {
    color: black;
    font-family: "Jost", serif;
    font-size: 18px;
  }

  .section1-btn {
    display: flex;
    justify-content: center;
  }

  .ourConcept-btn {
    font-size: 16px;
    padding: 18px 22px;
  }

  .sendNow-btn {
    font-size: 16px;
    padding: 16px;
    width: 150px;
    margin-top: 0;
  }

  .ft-company-logo {
    width: 180px;
    text-align: center;
  }

  .ft-logo {
    justify-content: center;
  }

  .ft-main {
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap: 05px; */
    justify-content: space-evenly;
  }

  .sub-links a {
    padding-top: 30px;
    font-size: 16px;
    color: #292f36;
  }
  .sub-links {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    padding: 2px;
    font-weight: 400;

    font-family: "Jost";
    overflow-wrap: break-word;
    color: #292f36;
  }

  .ft-copyright {
    display: flex;
    text-align: center;
    color: #4d5053;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    justify-content: center;
  }
  .company-description {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    color: #4d5053;
    font-family: "Jost";
  }

  .ft-main-item {
    color: #292f36;
    width: 33.33%;
  }

  .mobile-footer {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 90px;
  }
}
