@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  /* overflow: hidden; */
}

body {
  width: 100%;
  height: 100%;
}

.brand-Navbar {
  width: 1200px;
  margin: auto;
  margin-top: 51px;
  margin-bottom: 45px;

  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.links-navbar {
  width: 624px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  gap: 31px;
  color: #292f36;
  text-decoration: none;
}
.links-navbar a {
  color: black;
}
.fill a,
.stroke a {
  position: relative;
}

.stroke a:after,
.stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #000000;
  height: 1px;
}

.stroke a:hover:after {
  width: 100%;
}

.stroke a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.stroke a:hover {
  color: #000000;
  z-index: 1;
}
.stroke a:hover:after {
  z-index: -10;
  animation: fill 2s forwards;

  opacity: 1;
}

.jello:hover {
  animation-name: jello;
  -webkit-animation-name: jello;
  -moz-animation-name: jello;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
}
.shakeFix:hover {
  animation-name: shakefix;
  -webkit-animation-name: shakefix;
  -moz-animation-name: shakefix;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

@keyframes shakefix {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;

    background: #333;
  }
}

.brand-icon {
  width: 177px;
  height: 50px;
  justify-content: space-between;
}

.imageDiv {
  position: relative;
  width: 100%;
  height: 1042px;
  object-fit: cover;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.learning {
  position: absolute;
  top: 8px;
  left: 16px;
}

.logo {
  float: left;
  display: flex;
  width: 250px;
  height: auto;
}

.menu-click {
  display: flex;
  align-items: center;
  display: none;
}

.mobile-navbar {
  display: none;
}
.mobile-dropdown {
  display: none;
}

.bannerText {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.banner-wrapper {
  position: absolute;
  width: 567px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-left: 360px;
  margin-right: 993px;
  margin-top: 330px;
  margin-bottom: 435px;
  top: 0;
}

li a {
  font-size: 30px;
  display: flex;
  text-decoration: none;
  color: black;
  padding-right: 48px;
}

ul {
  font-size: 22px;
}

.banner1 {
  width: 100%;
  margin-bottom: 7%;
  max-height: auto;
}

.row {
  margin-top: 200px;
  margin-bottom: 200px;
  padding-left: 382px;
  padding-right: 380px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  gap: 42px;
}

.column-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.section2 {
  gap: 33px;
  width: 472px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.magnifying-icon {
  height: 21px;
  width: 21px;
  display: flex;
}

.banner_1_content {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  /* or 31px */
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;

  color: #292f36;
}

.photo1 {
  padding-left: 20px;
  width: 653px;
  height: 700px;
}

.heading1 {
  padding-top: 43px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* or 62px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #292f36;
}
.mo-number {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
.call-us {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
.subDetails {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.Contact {
  display: flex;
  font-size: 30px;
  gap: 15px;
  align-items: center;
}

.read_more {
  padding-top: 52px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  /* identical to box height, or 22px */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #4d5053;
}

.read-more-arw {
  color: #cda274;

  width: 15.14px;
  height: 13.18px;
}
.call_img {
  width: 93px;
  height: 93px;
}

.freeEstimate {
  margin-top: 10px;
  background-color: #292f36;
  color: white;
  padding: 26px 31px;
  border-radius: 18px;
  font-size: 18px;
  margin-bottom: 50px;
}

.getStarted {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 26px 48px;
  gap: 10px;

  width: 219.14px;
  height: 75px;

  background: #292f36;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;
}

.button {
  display: flex;
}

.What {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 1199px;
  height: 679px;
  margin: auto;
  border-radius: 42px;
  background-color: #f4f0ec;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.whatPeople {
  padding-top: 88px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* or 62px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #292f36;
}

.people {
  margin-top: 20px;
  padding: 8%;

  width: 100%;
  border-radius: 42px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.col-3 {
  padding: 6%;
}

.personal {
  width: 77px;
  height: 77px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 38px;
  height: 339px;
}

.grid-container > div {
  font-family: "Jost";
  color: #4d5053;
  font-size: 24px;
  border-radius: 22px;
  background-color: rgb(255, 255, 255);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 38px;
  padding-bottom: 54px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* margin-bottom:5%; */
}

.MoreProjects {
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 93px;
}
.client {
  display: flex;
  flex-direction: row;
  width: 1090px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.follow-projects-heading {
  display: flex;
  flex-direction: column;
  width: 737px;
  text-align: center;
  gap: 8px;
}
.clientLogo {
  width: 1090px;
  margin-bottom: 15%;
}

.followProjects {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* identical to box height, or 62px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  justify-content: center;
  color: #292f36;
}

.details1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;

  letter-spacing: 0.01em;
  justify-content: center;
  color: #4d5053;
}
.align-grid {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.Projects {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 104px;
  width: 100%;
  justify-content: center;
}

.Sample {
  width: 100%;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
}

.modern {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  /* or 31px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #292f36;
}

.modernType {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.imgArrow {
  display: flex;
  float: right;
}

.home-decore-name-wrapper {
  display: flex;
  flex-direction: column;
}

.arrow-name-adjust {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counterDiv {
  /* width: 100%; */
  display: flex;
  margin-top: 150px;
  height: 457px;
  display: flex;
  background-color: #f4f0ec;
  align-items: center;
  justify-content: center;
}

.counter-table {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.counter-box {
  justify-content: center;
  align-items: center;
  width: 1082px;
  min-width: 500px;
  gap: 76px;
  display: flex;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 125%;
  /* or 106px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #cda274;
}

.counter-number {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cda274;
  padding-right: 54px;
  gap: 16px;
  align-items: center;
}

.counter-number-noborder {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
}
.counter-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
.counter-table td {
  width: 25% !important;
}

table td + td {
  border-left: 2px solid #cda274;
}

.numbers {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 800;
  font-size: 105px;
  letter-spacing: 0.02em;
  color: #cda274;
  line-height: 125%;
}
.article-news-div {
  width: 811px;
  margin: auto;
}
.num-details {
  font-family: "Jost", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.article-heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* identical to box height, or 62px */
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #292f36;
}
.article-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 360px;
  margin-right: 360px;
}
.article-description {
  margin-top: 12px;
  margin-bottom: 52px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.example-articles {
  width: 1200px;

  justify-content: center;
  gap: 27px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  padding-bottom: 202px;
}
.arrow1 {
  height: 52px;
  width: 52px;
}
.arrow2 {
  height: 52px;
  width: 52px;
}
.articles-wrapper {
  border-radius: 62px;
  display: grid;
  padding: 21px;
  height: 521px;
  border: 1px solid #e7e7e7;
}

.articles-wrapper-active {
  border-radius: 62px;
  display: grid;
  padding: 21px;
  height: 521px;
  border: 1px solid #f4f0ec;
  background-color: #f4f0ec;
}
.article-image {
  /* width: auto; */

  /* height: 100%; */
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
}

.image-text-wrapper {
  position: absolute;
  background-color: white;
  color: #000000;
  bottom: 3px;
  left: 5px;
}

.articles-font {
  padding-right: 35px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  /* or 31px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #292f36;
}

.article-date {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  justify-content: space-between;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: #4d5053;
}

.article-button {
  border: none;
  border-radius: 50%;
}
.contact-banner-details {
  display: flex;
  flex-direction: column;
  width: 569px;
  margin: auto;
}
.contact-banner {
  margin: auto;
  border-radius: 70px;
  width: 1199px;
  background-color: #292f36;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-banner-heading {
  padding-top: 80px;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* identical to box height, or 62px */

  text-align: center;

  color: #ffffff;
}

.contact-header-description {
  padding-top: 11px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.contact-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 26px 37px;
  gap: 10px;

  height: 75px;
  width: 240px;
  background: #cda274;
  box-shadow: 0px 10px 20px #1f2022;
  border-radius: 18px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
}

.contact-button {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  text-align: center;
  padding-bottom: 80px;
}
.ft-container {
  margin: auto;
  width: 1199px;
  padding-top: 135px;
  padding-bottom: 134px;
}
.ft-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 101px;
  justify-content: space-between;
}

.ft-logo {
  width: 177px;
  display: flex;
  flex-wrap: wrap;
}
.company-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 393px;
  flex-shrink: 0;
}

.sub-links a {
  color: #4d5053;
  font-weight: 400;
  font-family: "Jost";
  letter-spacing: 0.01em;
  line-height: 300%;
  font-size: 22px;
}
.company-description {
  padding-top: 25px;
  display: flex;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}

.ft-main-item {
  display: flex;
  flex-direction: column;
}

.ft-main-item h1 {
  color: #292f36;
  font-size: 22px;
}
.sub-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 54px;
  width: 225px;
  padding-top: 31px;
}

.social-icon {
  width: 100%;
  height: 100%;
}
.ft-company-logo {
  width: 177px;
}

.ft-copyright {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  justify-content: center;
  color: #4d5053;
  margin-bottom: 38px;
}
.read_more a {
  color: #292f36;
}
.mobile-footer {
  display: flex;
  justify-content: center;
  gap: 101px;
  flex: auto;
}

.footer-heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  padding-bottom: 9px;
  /* or 31px */

  display: flex;
  align-items: center;

  color: #292f36;
}

.living-stylish {
  display: flex;
  flex-direction: row;
  gap: 75px;
  margin-left: 360px;
  margin-right: 360px;
  margin-bottom: 200px;
}
.people-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.people-test {
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.name {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  /* or 38px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #292f36;
}

.country {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
.people-test-info {
  display: flex;
  flex-direction: column;
}

/* Animations  */

div.borderYtoX a:before,
div.borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: "";
  background: #fff;
  transition: all 0.3s;
}

@media screen and (max-width: 1386px) {
  .mobile-dropdown {
    display: none;
  }

  .banner-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin: 0;
    top: 0;
  }
  .bannerText {
    width: 70%;
    position: absolute;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    padding-top: 280px;
    padding-left: 80px;
  }

  .getStarted {
    position: fixed;
    bottom: 130px;
    left: 120px;
    margin: 0;
    background-color: #292f36;
    color: white;
    /* padding-top: 1200px; */
    padding: 0px 22px 0px 22px;

    border-radius: 18px;
    font-size: 15px;
    width: 150px;
  }
  .button-wrapper {
    position: absolute;
    top: 490px;
    left: 70px;
  }
  .living-stylish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 75px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 200px;
  }
  .people-test {
    padding-top: 10px;
  }
  .article-description {
    font-style: normal;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 40px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 70px;
  }

  .counter-table {
    padding-left: 2% !important;
    padding-right: 2% !important;
    padding: 5%;
    width: auto !important;
    height: auto;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .counterDiv {
    width: 100%;
    height: auto;
  }
  .ft-company-logo {
    width: 250px;
  }

  .ft-logo {
    justify-content: center;
  }

  .ft-main {
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap: 05px; */
    justify-content: space-evenly;
  }

  .sub-links {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    padding: 2px;
    font-weight: 400;

    font-family: "Jost";
    color: #292f36;
  }

  .footer-heading {
    display: flex;
    justify-content: center;
  }

  .sub-links a {
    font-size: 12px;
  }

  .ft-copyright {
    display: flex;
    text-align: center;
    color: #4d5053;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    justify-content: center;
  }
  .company-description {
    width: 100%;
    padding-top: 18px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #4d5053;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
  }

  .column-text {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageDiv {
    height: 700px;
    width: 100%;
  }

  .row {
    padding-left: 2%;
    padding-right: 2%;
    gap: 15px;
  }
  .photo1 {
    margin-top: 50px;
    height: 500px;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .banner_1_content {
    font-size: 22px;
  }

  .column-text {
    font-size: 18px;
    padding: 40px;
  }
  .heading1 {
    margin-right: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    font-size: 32px;
    font-weight: 600;
    font-family: serif;
  }

  .subDetails {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 18px;
    text-align: center;
  }

  .contactDetails {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 55px;
    font-size: 20px;
  }
  .call_img {
    height: 45px;
    width: auto;
    margin-top: 06px;
  }
  .read_more {
    font-size: 18px;
    color: #292f36;
  }
  .read_more a {
    color: #292f36;
  }

  .freeEstimate {
    margin-top: 08px;
    background-color: #292f36;
    color: white;
    padding: 18px 20px;
    border-radius: 18px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .MoreProjects {
    padding-left: 2%;
    padding-right: 2%;
  }

  .What {
    width: 100%;
    height: 65rem;
  }

  .whatPeople {
    padding-top: 100px;
    font-size: 28px;
  }

  .follow-projects-heading {
    width: 100%;
  }
  .ft-main-item {
    color: #292f36;
    width: 33.33%;
  }

  .client {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    flex-shrink: 0;
    width: auto;
    gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .clientLogo {
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .company-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    align-items: center;
  }

  .ft-container {
    width: 100%;
    display: flex;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .MoreProjects {
    margin-left: 2%;
    margin-right: 2%;
  }
  .followProjects {
    font-size: 36px;
  }
  .details1 {
    font-size: 18px;
  }

  .ft-company-logo {
    width: 120px;
    text-align: center;
  }

  .mobile-footer {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 90px;
  }
  .article-div {
    width: 100%;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
  .article-news-div {
    width: 100%;
  }

  .article-heading {
    text-align: center;
    font-size: 28px;
    padding-top: 120px;
  }

  .brand-Navbar {
    display: none;
  }
  .mobile-navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .mobile-links-navbar {
    display: flex;
    align-items: center;
  }
  .mobile-brand-icon {
    width: 180px;
    height: auto;
  }
  .menu-click {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .menu-click-icon {
    width: 40px;
    height: auto;
  }

  .mobile-dropdown {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.5);

    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .mobile-dropdown a {
    color: black;
    font-family: "Jost", serif;
    font-size: 18px;
  }

  .mobile-dropdown a:hover {
    background-color: #cda274;
    font-family: "Jost", serif;
    font-size: 18px;
  }

  .menu-adjust {
    display: flex;
    gap: 50px;
  }

  .example-articles {
    display: grid;
    grid-template-columns: auto;
    width: 100%;

    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 220px;
  }

  .articles-wrapper {
    width: 100%;
  }
  .article-image {
    width: 100%;
    padding: 30px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }

  .article-date {
    padding: 30px;
  }

  .articles-wrapper-active {
    width: 100%;
  }
  .articles-font {
    font-size: 20px;
    text-align: center;
    padding-right: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    padding: 5%;
  }

  .people-wrapper {
    display: flex;
    align-items: center;
  }
  .text1 {
    padding-left: 4%;
    padding-right: 4%;
  }
  .modernType {
    font-size: 16px;
  }
  .modern {
    font-size: 22px;
  }

  .grid-container > div {
    font-family: "Jost";
    color: #4d5053;
    font-size: 16px;

    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 54px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* margin-bottom:5%; */
  }
  .imgArrow {
    height: 50px;
    width: auto;
  }
  .Projects {
    padding-top: 120px;
    padding: 64px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr;
    gap: 70px;
    width: 100%;

    place-items: center;
    padding-bottom: 120px;
  }

  .align-grid {
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .Contact {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  .counter-number {
    padding-right: 0;
    border: none;
  }

  .counter-number-noborder {
    border: none;
  }

  .counter-box {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 52px;
    width: 100%;
    min-width: 100%;
    flex-direction: column;
  }
  .counter-text {
    font-size: 16px;
  }

  .numbers {
    font-size: 35px;
    padding: 10px;
  }

  .num-details {
    font-size: 16px;
    padding: 10px;
  }

  .contact-banner {
    width: 100%;
  }

  .contact-banner-heading {
    font-size: 28px;
    font-weight: 400;
    margin-top: 60px;
    padding: 20px;
    width: 100%;
  }

  .contact-banner-details {
    width: 100%;
  }
  .contact-btn {
    font-size: 12px;
    padding: 13px;
    font-weight: 400;
    width: 140px;
  }

  .contact-header-description {
    padding: 30px;
    font-size: 16px;
    font-weight: lighter;
  }
}
