@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menus {
  display: flex;
  float: left;
  flex-direction: column;
  width: 80px;
  min-width: 40px;

  align-items: center;
  background-image: linear-gradient(#ff5050, #ff3399);
  box-shadow: 3px 3px 10px -4px black;
}

.firstLine {
  font-family: "Poppins", sans-serif;
  font-size: 1.9em;
}
.header {
  display: flex;
  flex-direction: column;
}
.material-symbols-outlined {
  color: white;
  font-weight: 800;
  padding-bottom: 2em;
}
.person-book {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-right {
  padding-top: 1em;
  padding-bottom: 3em;
}
.firstDiv {
  display: flex;
  flex-direction: row;
  box-shadow: 3px 1px 2px 2px rgb(211, 207, 207);
  padding: 0.7em;
}
.col-1 {
  box-shadow: 3px 3px 10px -3px black;
  min-height: 100vh;
}

.secondLine {
  font-size: 14px;
  font-weight: 600;
}

.main-div {
  margin-top: 5%;
  margin-left: 5%;
  width: 60%;
  background-color: gainsboro;
  display: flex;
  border-radius: 16px;
  padding: 3%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

#actor-name {
  font-family: "Poppins";
  font-size: 22px;
}
.contact-search {
  border: none;
  width: 28em;
  background-color: whitesmoke;
  border-radius: 28px;
  height: 3em;
  padding: 1em;
  outline: none;
}
.search-box {
  background-color: whitesmoke;
  border-radius: 28px;
  width: 31em;
  box-shadow: 4px 3px 2px 0px rgba(0, 0, 0, 0.5);
}

.contact-search::placeholder {
  font-size: 16px;
  font-family: "Poppins";
}

.add-btn {
  background-image: linear-gradient(#ff5050, #ff3399);
  border: none;
  border-radius: 12px;
  padding: 0.8em;
  width: auto;
  margin-left: 6em;
  font-family: "Poppins";
  font-weight: 500;
  box-shadow: 4px 3px 2px 0px rgba(0, 0, 0, 0.5);
}

.delete-btn {
  margin-left: 3em;
  background-image: linear-gradient(#ff5050, #ff3399);
  border: none;
  border-radius: 12px;
  padding: 0.8em;
  width: auto;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 500;
  box-shadow: 4px 3px 2px 0px rgba(0, 0, 0, 0.5);
}

.main-form span {
  color: red;
  font-family: "Poppins";
  font-size: 12px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* The Close Button */
.close-btn {
  color: #aaaaaa;

  font-size: 28px;
  font-weight: bold;
  width: fit-content;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.content1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(29, 29, 29, 0.506);
  box-shadow: 0px 0px 0px -2px black;
  font-family: "Poppins";
  font-size: 22px;
}

.form-footer {
  margin-top: 50px;
  border-top: 1px solid rgba(29, 29, 29, 0.506);
  box-shadow: 0px 0px 0px -2px black;
}

.main-form label {
  padding-top: 30px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.main-form input {
  height: 40px;
  width: 100%;
  padding: 5px;
  outline: none;
}

.main-form input:active {
  border: none;
}

.submit-btn {
  margin-top: 20px;
  font-family: "Poppins";
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  font-size: 14px;
  border: 1px solid rgba(26, 26, 26, 0.338);
}

.table-div {
  display: flex;
  justify-content: left;
}

.contact-table-div {
  font-family: "Poppins";
  font-size: 14px;
  margin-top: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  padding: 20px;
  background-color: #fefefe;
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
}
.info-table {
  background-color: gainsboro;
  margin-top: 3rem;
  margin-left: 2%;
  padding-bottom: 3rem;
  margin-left: 5%;
  margin-right: auto;
  box-shadow: 4px 1px 4px 4px rgb(211, 207, 207);
}
.info-table-heading {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.arrow-btn {
  height: 35px;
  width: 35px;
  padding: 5px;
}
.arrow-back button {
  border: none;
  border-radius: 50px;
}

.selected-contact input {
  width: auto;
  word-wrap: normal;
  background-color: transparent;
  border: none;
}

.selected-contact input:focus {
  outline: none;
}
.selected-contact-div {
  font-family: "Poppins";
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 3rem;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 30px;
  justify-content: left;
  box-shadow: 3px 1px 2px 2px rgb(211, 207, 207);
}
.clk-effect:hover {
  background-color: whitesmoke;
}

.clk-effect {
  word-break: break-word;
}
#additional-details {
  display: none;
}

.save-data {
  display: none;
}

.cancel-btn {
  display: none;
}
@media screen and (max-width: 1584px) {
  .table-div {
    flex-direction: column;
  }

  .info-table {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main-div {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
  }
  .menus {
    width: 50px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .search-box {
    width: 15em;
    min-width: 1.5em;
  }

  .contact-search {
    width: auto;
  }

  .add-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 12px;
  }

  .delete-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 12px;
  }

  .modal-content {
    width: 80%;
  }
}

.test1 {
  /* background-color: red !important; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-2 {
  /* background-color: red !important; */

  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}
.Inline {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 50px;
  width: auto;
}

.label {
  width: 85px;
}

.table > tbody {
  vertical-align: middle;
}

@media screen and (max-width: 620px) {
  .contact-table-div {
    font-size: 10px;
    padding: 12px;
    display: flex;
  }

  .info-table-heading {
    gap: 30px;
  }
  .search-box {
    width: 10em;
  }

  .contact-search {
    width: 7em;
    height: 2em;
  }
  .test1 {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
  }

  .Inline {
    height: 35px;
  }
  .test-2 {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
  }

  #actor-name {
    font-size: 14px;
    text-align: center;
  }
}
